5InARowClient/src/META-INF/wsdl/localhost_8080/5InARowServer/WebService5InARow.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="WebService5InARow">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/5InARowServer/WebService5InARow?xsd=1"/>
</xsd:schema>
</types>
<message name="join">
<part name="parameters" element="tns:join"/>
</message>
<message name="joinResponse">
<part name="parameters" element="tns:joinResponse"/>
</message>
<message name="quit">
<part name="parameters" element="tns:quit"/>
</message>
<message name="quitResponse">
<part name="parameters" element="tns:quitResponse"/>
</message>
<message name="nameCheck">
<part name="parameters" element="tns:nameCheck"/>
</message>
<message name="nameCheckResponse">
<part name="parameters" element="tns:nameCheckResponse"/>
</message>
<message name="upadteBoard">
<part name="parameters" element="tns:upadteBoard"/>
</message>
<message name="upadteBoardResponse">
<part name="parameters" element="tns:upadteBoardResponse"/>
</message>
<message name="readyToStart">
<part name="parameters" element="tns:readyToStart"/>
</message>
<message name="readyToStartResponse">
<part name="parameters" element="tns:readyToStartResponse"/>
</message>
<message name="gameOver">
<part name="parameters" element="tns:gameOver"/>
</message>
<message name="gameOverResponse">
<part name="parameters" element="tns:gameOverResponse"/>
</message>
<message name="turn">
<part name="parameters" element="tns:turn"/>
</message>
<message name="turnResponse">
<part name="parameters" element="tns:turnResponse"/>
</message>
<message name="resetServer">
<part name="parameters" element="tns:resetServer"/>
</message>
<message name="resetServerResponse">
<part name="parameters" element="tns:resetServerResponse"/>
</message>
<message name="dropPiece">
<part name="parameters" element="tns:dropPiece"/>
</message>
<message name="dropPieceResponse">
<part name="parameters" element="tns:dropPieceResponse"/>
</message>
<portType name="WebService5InARow">
<operation name="join">
<input wsam:Action="http://WebService/WebService5InARow/joinRequest" message="tns:join"/>
<output wsam:Action="http://WebService/WebService5InARow/joinResponse" message="tns:joinResponse"/>
</operation>
<operation name="quit">
<input wsam:Action="http://WebService/WebService5InARow/quitRequest" message="tns:quit"/>
<output wsam:Action="http://WebService/WebService5InARow/quitResponse" message="tns:quitResponse"/>
</operation>
<operation name="nameCheck">
<input wsam:Action="http://WebService/WebService5InARow/nameCheckRequest" message="tns:nameCheck"/>
<output wsam:Action="http://WebService/WebService5InARow/nameCheckResponse" message="tns:nameCheckResponse"/>
</operation>
<operation name="upadteBoard">
<input wsam:Action="http://WebService/WebService5InARow/upadteBoardRequest" message="tns:upadteBoard"/>
<output wsam:Action="http://WebService/WebService5InARow/upadteBoardResponse" message="tns:upadteBoardResponse"/>
</operation>
<operation name="readyToStart">
<input wsam:Action="http://WebService/WebService5InARow/readyToStartRequest" message="tns:readyToStart"/>
<output wsam:Action="http://WebService/WebService5InARow/readyToStartResponse" message="tns:readyToStartResponse"/>
</operation>
<operation name="gameOver">
<input wsam:Action="http://WebService/WebService5InARow/gameOverRequest" message="tns:gameOver"/>
<output wsam:Action="http://WebService/WebService5InARow/gameOverResponse" message="tns:gameOverResponse"/>
</operation>
<operation name="turn">
<input wsam:Action="http://WebService/WebService5InARow/turnRequest" message="tns:turn"/>
<output wsam:Action="http://WebService/WebService5InARow/turnResponse" message="tns:turnResponse"/>
</operation>
<operation name="resetServer">
<input wsam:Action="http://WebService/WebService5InARow/resetServerRequest" message="tns:resetServer"/>
<output wsam:Action="http://WebService/WebService5InARow/resetServerResponse" message="tns:resetServerResponse"/>
</operation>
<operation name="dropPiece">
<input wsam:Action="http://WebService/WebService5InARow/dropPieceRequest" message="tns:dropPiece"/>
<output wsam:Action="http://WebService/WebService5InARow/dropPieceResponse" message="tns:dropPieceResponse"/>
</operation>
</portType>
<binding name="WebService5InARowPortBinding" type="tns:WebService5InARow">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="join">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="quit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nameCheck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="upadteBoard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readyToStart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gameOver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="turn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dropPiece">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebService5InARow">
<port name="WebService5InARowPort" binding="tns:WebService5InARowPortBinding">
<soap:address location="http://localhost:8080/5InARowServer/WebService5InARow"/>
</port>
</service>
</definitions>